@charset utf-8

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.leftnav {
    grid-area: ln;
    font-size: 9vw;
    position: relative;
    top: 2vh;
    left: 4vw;
    color: white;
}

.midnav {
    grid-area: mn;
    text-align: center;
    position: relative;
    left: 3vw;
    color: white;
}

.rightnav {
    grid-area: rn;
    width: 25vw;
    position: relative;
    top: 2.7vh;
    left: 8vw;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #0f3154;
    display: grid;
    grid-template-areas: 
    'ln ln mn mn rn rn';
}

.leftfoot {
    grid-area: lf;
    width: 50vw;
    position: relative;
    left: 25vw;
    font-size: 7vw;
}

.rightfoot {
    grid-area: rf;
    width: 50vw;
    position: relative;
    top: 3.3vh;
    left: 10vw;
    font-size: 7vw;
}

footer {
    margin: 0;
    padding: 0;
    background-color: #0f3154;
    color: white;
    display: grid;
    grid-template-areas: 
    'lf rf';
}