@charset utf-8

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.leftnav {
    grid-area: ln;
    font-size: 9vw;
    position: relative;
    top: 2vh;
    left: 4vw;
    color: white;
}

.midnav {
    grid-area: mn;
    text-align: center;
    position: relative;
    left: 3vw;
    color: white;
}

.rightnav {
    grid-area: rn;
    width: 25vw;
    position: relative;
    top: 2.7vh;
    left: 8vw;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #ba0816;
    display: grid;
    grid-template-areas: 
    'ln ln mn mn rn rn';
}

.leftfoot {
    grid-area: lf;
    width: 50vw;
    position: relative;
    left: 25vw;
    font-size: 7vw;
}

.rightfoot {
    grid-area: rf;
    width: 50vw;
    position: relative;
    top: 3.3vh;
    left: 10vw;
    font-size: 7vw;
}

footer {
    margin: 0;
    padding: 0;
    background-color: #ba0816;
    color: white;
    display: grid;
    grid-template-areas: 
    'lf rf';
}

main {
    
}

main .sort-area {

}

main .sort-area h2 {
    margin: 15px 0 15px 10px;
    color: rgb(84, 15, 15);
}

main .sort-area .sort-list{

}

main .sort-area .sort-list ul{
    margin: 0;
    padding: 0;
    
}

main .sort-area .sort-list li{
    font-size: 1.2rem;
    margin: 0;
    padding: 5px 5px 5px 20px;
    border-bottom: 1px solid black;
    list-style: none;
    color: rgb(243, 166, 166);
    
}

main .sort-area .sort-list li:hover{
    transition: 0.3s ease;
    background-color: rgb(241, 138, 138);
    color: white;
}


main .sort-area .sort-list li i{
    display: none;
    float: right;
    padding-right: 10px;
}
    
button {
    border-radius: 20px;
    background-color: #d9030f;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
    margin: 8px;
    box-shadow: 0 5px 5px 0  #999;
}

button:active {
    background-color: #7e030a;
    box-shadow: 0 5px 5px 0 #666666;
    transform: translate(0, 2px);
}